# Whitelist by default
/*

!/.github
!/.vscode
!/dist
!/src

!/.editorconfig
!/.gitignore
!/.python-version
!/LICENSE
!/NOTES.md
!/manifest_history.txt
!/manifests.txt
!/pyproject.toml
!/README.md
!/shell.nix
!/uv.lock
